/* flex items-center justify-center rounded-[30px] text-sm text-white leading-[14px] font-normal
          font-Anybody bg-[#1937AD] w-[56px] h-[34px] */
          /* flex items-center justify-center rounded-[30px] text-sm text-[#797979] leading-[14px] font-normal font-Anybody w-[56px] h-[34px] cursor-pointer */
          /* text-sm text-[#797979] leading-[14px] font-Anybody font-normal w-[119px] cursor-pointer */

    

/* .info{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: #797979;
    line-height: 14px;
    font-weight: 400;
    width: 56px;
    height: 34px;
    cursor: pointer;
    
}

.works{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #797979;
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    cursor: pointer;
    width: 119px;

} */

/* .active{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    font-size: 14px;
    color: white;
    line-height: 14px;
    font-weight: 400;
    background-color: #1937AD;
    width: 80px;
    height: 30px;
    cursor: pointer;
} */

/* .works .active{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    font-size: 14px;
    color: white;
    line-height: 14px;
    font-weight: 400;
    background-color: #1937AD;
    width: 119px;
    height: 34px;
} */

